<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Simplilearn">
  <test thread-count="5" name="SmokeTest">
    <classes>
      <class name="testng.annotations_example"/>
      <class name="testng.Annotations_example2">
		
		<methods>
			<include name="test4"></include>
		</methods>
		</class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
